@model IEnumerable<OdeToFood.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Latest Reviews</h2>


@foreach (var item in Model)
{
  <div>
    <h4>@item.Restaurant.Name</h4>
    <span>@item.Rating</span>
    <p>
    @item.Body
    <span class="right">
    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
    </span>
    </p>
    
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>